.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	height: rem(70);

	background: linear-gradient(180deg, #d20000 0%, #39000a 100%);
	border: 1px solid #ffb800;
	border-radius: 50px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
	}

	p {
		@include adaptiveValue("padding-inline", 86, 60, 500, 320, 1);
		font-weight: 900;
		font-size: rem(24);
		line-height: math.div(29, 24);
		letter-spacing: 0.085em;
		text-transform: uppercase;

		color: #ffffff;
	}
	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: url("@img/other/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transition: all 0.3s ease 0s;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(44, 44, 44, 0.05);
		backdrop-filter: blur(75px);
		z-index: 2;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: rem(-120);
		left: 50%;
		transform: translateX(-50%);
		width: rem(360);
		height: rem(360);
		border-radius: 50%;
		background-color: #f77766;
	}

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(100);
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding-block: rem(60) rem(200);
	padding-inline: rem(25);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 32, 26, 500, 320, 1);
		line-height: math.div(39, 32);

		letter-spacing: 0.085em;
		text-transform: uppercase;
		text-align: center;

		color: #ffffff;
		padding-bottom: rem(40);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-weight: 900;
	font-size: rem(15);
	line-height: math.div(18, 15);
	text-align: center;
	letter-spacing: 0.085em;
	text-transform: uppercase;

	color: #ffffff;

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	background-color: rgba(64, 47, 35, 0.74);
	box-shadow: inset 0px 0px 12px #ff6b00;
	border: 1px solid #ff0000;
	border-radius: 10px;
}

.text {
	font-weight: 700;
	font-size: rem(16);
	line-height: math.div(19, 16);
	letter-spacing: 0.085em;
	&_1 {
		color: #ffffff;
	}
	&_2 {
		color: #ebff00;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}
.text-game {
	p {
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

.win {
	position: absolute;
	z-index: 10;
	top: -20px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;

	&._active {
		top: 0;
		opacity: 1;
		visibility: visible;
	}

	// .win__body

	&__body {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .win__box

	&__box {
		position: relative;

		display: grid;
		grid-template-rows: 1fr 70px 70px;

		width: 90%;
		height: rem(300);

		background: radial-gradient(50% 50% at 50% 50%, #5700c7 0%, #2d0066 0.01%, #190039 100%);
		border: 1px solid #ffb800;
		border-radius: 40px;
		@media (min-width: em(500)) {
			width: rem(285);
		}
	}

	// .win__title

	&__title {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);

		font-weight: 900;
		font-size: rem(36);
		line-height: math.div(44, 36);
		letter-spacing: 0.085em;
		text-transform: uppercase;

		color: #ffffff;

		text-shadow: 0px 10px 14px rgba(17, 21, 41, 0.81);

		white-space: nowrap;
	}

	// .win__image

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .win__score

	&__score {
		width: 90%;
		height: 55px;
		margin-inline: auto;

		background-color: #141313;
		box-shadow: inset 0px 0px 17.8378px #ffb800;
		border-radius: 33px;
	}

	// .win__btn

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		background-image: linear-gradient(180deg, #d20000 0%, #39000a 100%);
		border: 1px solid #ffb800;
		border-radius: 0px 0px 40px 40px;

		font-weight: 900;
		font-size: rem(24);
		line-height: math.div(29, 24);
		letter-spacing: 0.085em;
		text-transform: uppercase;

		color: #ffffff;
	}
}

//========================================================================================================================================================
