//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		padding-top: rem(50);
		padding-inline: rem(10);
	}

	&__title {
		max-width: rem(250);
		margin-bottom: rem(30);
		img {
			width: 100%;
		}
	}

	&__privacy {
		position: absolute;
		top: rem(5);
		left: rem(5);
		z-index: 3;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: all 0.3s ease 0s;

		p {
			background-image: linear-gradient(180deg, #ffffff 0%, #e2e2e2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

			@include adaptiveValue("font-size", 20, 18, 800, 550, 1);
			line-height: math.div(24, 20);
		}

		&:active {
			transform: translateY(3px);
		}
	}

	&__cards {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		justify-items: center;
		row-gap: rem(50);
	}

	&__card {
		position: relative;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			position: absolute;
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
			width: rem(320);
			height: rem(3);
			background-image: radial-gradient(#ce55d0, #795cca00);
		}
		img {
			width: 100%;
		}
		&_1 {
			max-width: rem(339);
		}
		&_2 {
			max-width: rem(292);
		}
		&_3 {
			max-width: rem(313);
		}
	}

	&__empty {
		position: relative;
		width: 100%;
	}

	&__circle-game {
		position: absolute;
		top: rem(-50);
		left: rem(-90);
		width: rem(338);
		max-width: rem(338);
		img {
			width: 100%;
		}
		@media (min-height: em(820)) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__game-title {
		position: absolute;
		top: rem(40);
		left: 50%;
		transform: translate(-50%, 0);
		white-space: nowrap;
		@media (min-height: em(820)) {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// .main__header

	&__header {
	}

	&__slider {
		position: relative;
		padding-left: rem(40);
		padding-bottom: rem(40);
		align-self: center;
		z-index: 2;
		@media (min-height: em(700)) {
			padding-bottom: rem(0);
		}
	}

	&__item {
		position: relative;
		display: grid;
		justify-items: center;
		row-gap: rem(15);
		perspective: 500px;
		transform-style: preserve-3d;
		perspective-origin: bottom;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&._disabled {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		._disabled & {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(23, 20, 66, 0.79);
				border-radius: rem(20);
			}
		}

		img {
			max-width: rem(182);
		}
		&_pin {
		}
	}

	&__disable-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: grid;
		justify-items: center;
		row-gap: rem(10);
	}
	&__icon {
		img {
			filter: drop-shadow(-1px 10px 15px rgba(255, 214, 0, 0.43));
		}
	}
}
.title-game {
	font-weight: 900;
	font-size: rem(36);
	line-height: math.div(44, 36);
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	background-image: linear-gradient(180deg, #ff00a8 0%, #fa00ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1.5px #fff;
	filter: drop-shadow(-1px 4px 4px #953005);
}

.header {
	// .header-main__body

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 5, 800, 550, 1);

		min-height: 100%;
		padding-inline: rem(15);
	}

	// .header-main__score

	&__score {
	}

	&__title {
		&_1 {
			max-width: rem(339);
		}
		&_2 {
			max-width: rem(292);
		}
		img {
			width: 100%;
		}
		&._hide {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.score-box {
	// .score-box__body

	&__body {
		display: grid;
		grid-template-columns: rem(60) 1fr;
		align-items: center;
		@include adaptiveValue("width", 212, 160, 800, 550, 1);
		height: rem(36);
		@media (min-width: em(800)) {
			width: rem(250);
			height: rem(48);
		}
		&_win {
			width: 100%;
		}
	}

	// .score-box__icon

	&__icon {
		justify-self: center;
		img {
			@include adaptiveValue("max-width", 46, 30, 500, 320, 1);
		}
		&_win {
			img {
				@include adaptiveValue("max-width", 56, 46, 500, 320, 1);
			}
		}
	}

	// .score-box__score

	&__score {
		font-weight: 900;
		font-size: rem(20);
		line-height: math.div(24, 20);
		letter-spacing: 0.085em;

		color: #ffe03f;
		@include adaptiveValue("padding-left", 15, 4, 800, 550, 1);
		&_win {
			text-align: center;
			position: relative;
			left: -20px;
		}
	}
}

//========================================================================================================================================================
.drum {
	// .drum__body

	&__body {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;

		min-height: 100vh;

		padding: rem(45) rem(19) 0 rem(19);
	}

	// .drum__header

	&__header {
		@media (min-height: 900px) {
			margin-bottom: rem(150);
		}
	}

	&__circle {
		margin-bottom: rem(15);
	}

	&__button-box {
		display: flex;
		justify-content: center;
	}

	&__button {
		width: rem(144);
		height: rem(144);

		background-image: url("@img/icons/btn-play.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: transform 0.3s ease 0s;

		&:active {
			transform: scale(0.95);
		}
		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
.header-drum {
	// .header-drum__body

	&__body {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(50);
	}

	// .header-drum__button-home

	&__button-home {
		display: flex;
		justify-content: center;
		align-items: center;

		width: rem(78);
		height: rem(64);
		background-image: radial-gradient(50% 50% at 50% 50%, #ffd600 0%, #c42f00 100%);

		border: 1.71513px solid rgba(255, 255, 255, 0.84);
		box-shadow: 0px 3.43027px 3.43027px rgba(34, 12, 12, 0.25),
			inset 0px 1.71513px 9.43323px 3.43027px rgba(22, 22, 22, 0.92);
		border-radius: 32px;
		span {
			position: relative;
			top: 2px;
			display: block;
			width: rem(44);
			height: rem(44);
			background-image: url("@img/icons/arrow.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	// .header-drum__title

	&__title {
		text-align: right;
	}
}

.circle {
	// .circle__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
	}

	// .circle__arrow

	&__arrow {
		position: absolute;
		top: rem(-40);
		left: 50%;
		transform: translateX(-50%);
		width: rem(93);
		height: rem(77);
		background: url("@img/icons/arrow-circle.png") center / contain no-repeat;
		z-index: 2;
	}

	&__dot {
		position: absolute;
		bottom: rem(-5);
		z-index: 5;
		left: 50%;
		transform: translateX(-50%);
		width: 5px;
		height: 5px;
	}

	// .circle__drum-box

	&__drum-box {
		position: relative;
		min-width: 310px;
		width: 310px;
	}

	// .circle__drum

	&__drum {
		position: relative;
		width: 100%;
		img {
			width: 100%;
		}
	}

	// .circle__values

	&__values {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .circle__value

	&__value {
		position: absolute;
		padding: rem(21) 0 rem(24) rem(20);

		user-select: none;

		// .circle__value_1

		&_1 {
			transform: rotate(120deg);
			top: rem(37);
			right: rem(73);
		}

		// .circle__value_2

		&_2 {
			transform: rotate(150deg);
			top: rem(73);
			right: rem(38);
		}

		// .circle__value_3

		&_3 {
			transform: rotate(180deg);
			top: rem(122);
			right: rem(22);
		}

		// .circle__value_4

		&_4 {
			transform: rotate(210deg);
			top: rem(173);
			right: rem(37);
		}

		// .circle__value_5

		&_5 {
			transform: rotate(240deg);
			top: rem(215);
			right: rem(73);
		}

		// .circle__value_6

		&_6 {
			transform: rotate(270deg);
			top: rem(230);
			right: rem(127);
		}

		// .circle__value_7

		&_7 {
			transform: rotate(300deg);
			top: rem(215);
			right: rem(180);
		}

		// .circle__value_8

		&_8 {
			transform: rotate(330deg);
			top: rem(175);
			right: rem(208);
		}

		// .circle__value_9

		&_9 {
			transform: rotate(360deg);
			top: rem(126);
			right: rem(232);
		}

		// .circle__value_10

		&_10 {
			transform: rotate(30deg);
			top: rem(74);
			right: rem(217);
		}

		// .circle__value_11

		&_11 {
			transform: rotate(60deg);
			top: rem(42);
			right: rem(171);
		}

		// .circle__value_12

		&_12 {
			transform: rotate(90deg);
			top: rem(19);
			right: rem(128);
		}
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		min-height: 100vh;
		position: relative;
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: grid;
		grid-template-rows: rem(136) 1fr rem(250);
		row-gap: rem(20);
		z-index: 2;
		@media (max-width: em(370)) {
			row-gap: rem(5);
		}
	}

	// .slot__controls

	&__controls {
	}

	&__backgrounds {
		position: absolute;
		@include adaptiveValue("top", -50, -30, 400, 350, 1);
		left: 50%;
		width: 113%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
		@media (min-width: em(700)) {
			top: rem(-70);
		}
	}
	&__logo {
		position: absolute;
		@include adaptiveValue("top", -85, -50, 400, 350, 1);

		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
		@media (min-width: em(700)) {
			top: rem(-100);
		}
	}
}

.controls-slot {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;

	// .controls-slot__body

	&__body {
		position: fixed;
		bottom: 0;

		left: 0;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(20);
		width: 100%;

		padding-inline: rem(30);

		padding-bottom: rem(10);

		@media (max-width: em(380)) {
			row-gap: 0;
			padding-top: rem(20);
		}
	}

	&__btn-home {
		position: absolute;
		top: rem(10);
		right: rem(10);

		display: flex;
		justify-content: center;
		align-items: center;

		width: rem(48);
		height: rem(48);
		border-radius: 50%;
		z-index: 10;

		background-image: radial-gradient(50% 50% at 50% 50%, #ffd600 0%, #c42f00 100%);
		border: 0.3px solid #ffffff;

		transition: transform 0.3s ease 0s;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.95);
		}
		span {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("@img/icons/close.png");
			background-position: center 60%;
			background-size: 24px 24px;
			background-repeat: no-repeat;
		}
		&._anim-1 {
			animation: btn-anim-1 20s ease 0s;
		}
		&._anim-2 {
			animation: btn-anim-2 20s ease 0s;
		}
	}

	&__top {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: center;
	}

	// .controls-slot__bet-box

	&__bet-box {
	}

	// .controls-slot__balance-box

	&__balance-box {
	}

	&__button-box {
		display: flex;
		column-gap: rem(10);
	}

	// .controls-slot__button-spin

	&__button-spin {
		width: rem(100);
		height: rem(100);

		background-image: url("@img/icons/btn-play.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		@include adaptiveValue("max-width", 100, 70, 370, 320, 1);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.balance-box {
	// .balance-box__body

	&__body {
		display: flex;
		flex-direction: column;
	}

	// .balance-box__title

	&__title {
	}

	// .balance-box__frame

	&__frame {
	}
}
.title-controls {
	font-weight: 900;
	font-size: rem(16);
	line-height: math.div(19, 16);
	letter-spacing: 0.085em;
	text-transform: uppercase;
	text-align: center;

	background: linear-gradient(180deg, #ffd600 0%, #f36600 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bg-box {
	display: flex;
	justify-content: center;
	align-items: center;

	// width: rem(88);
	// height: rem(72);
	@include adaptiveValue("width", 88, 68, 370, 320, 1);
	@include adaptiveValue("height", 72, 52, 370, 320, 1);

	background-image: linear-gradient(180deg, #38617f 0%, #32386c 60.73%, #321938 100%);
	box-shadow: 0px 3.43027px 3.43027px rgba(34, 12, 12, 0.25),
		inset 0px 1.71513px 9.43323px 3.43027px rgba(22, 22, 22, 0.92);
	border-radius: 22px;
	border: 1px solid #a99555;

	font-weight: 700;
	font-size: rem(17);
	line-height: math.div(21, 17);
	letter-spacing: 0.085em;

	color: #ffffff;
}

.bet-box {
	// .bet-box__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: rem(12);
		transition: opacity 0.3s ease 0s;
		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// .bet-box__minus

	&__minus,
	&__plus {
		display: flex;
		justify-content: center;
		align-items: center;

		// width: rem(88);
		// height: rem(72);
		@include adaptiveValue("width", 88, 68, 370, 320, 1);
		@include adaptiveValue("height", 72, 52, 370, 320, 1);

		background-image: linear-gradient(148.48deg, #b17dd1 2.85%, #8827c4 39.43%, #b200ab 71.91%, #b20060 94.54%);
		border: 1px solid #ffa800;
		box-shadow: 0px 3.43027px 3.43027px rgba(34, 12, 12, 0.25);
		border-radius: 28px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: transform 0.3s ease 0s;
		&:active {
			transform: scale(0.9);
		}

		p {
			font-weight: 700;
			font-size: rem(20);
			line-height: math.div(24, 20);

			color: #ffd600;
		}
	}
	&__minus {
		p {
			position: relative;
			top: rem(-1);
		}
	}

	&__score-box {
		display: grid;
		row-gap: rem(5);
	}

	// .bet-box__score

	&__score {
	}

	// .bet-box__plus

	&__plus {
	}
}

//========================================================================================================================================================
#slot {
	display: flex;
	justify-content: center;

	width: 100%;
}
#reels {
	position: relative;
	display: flex;
	justify-content: center;
	column-gap: rem(15);
	width: 90vw;
	height: calc((3 / 3) * 100vw);
	max-height: 95vw;
	max-width: calc(2.2 * (90vh - 50px));

	@media (max-height: em(740)) {
		width: 70vw;
		max-height: 68vw;
	}
	@media (min-width: em(700)) {
		width: 70vw;
		max-height: 70vw;
	}
}
.reels {
	&_1 {
		background-image: linear-gradient(180deg, #9b4a39 0%, rgba(43, 19, 55, 0.57) 100%);
		box-shadow: inset -1px 14px 24px 8px rgba(34, 21, 21, 0.76);
		border: 3px solid #ffc700;
		border-radius: 20px;
	}
	&_2 {
		max-height: 90vw !important;
		@media (max-height: em(740)) {
			max-height: 68vw !important;
		}
		@media (min-width: em(700)) {
			max-height: 70vw !important;
		}
	}
}

.reel {
	overflow: hidden;
	width: 30%;
	height: 100%;
	&_1 {
		&:not(:last-child) {
			border-right: 2px solid #ffc700;
		}
	}

	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 30px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
			@media (max-height: em(740)) {
				margin: -3px 0 20px -3px;
			}
		}
	}
}

#slot.inverted .reel {
	transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//========================================================================================================================================================
#slot2 {
	display: flex;
	justify-content: center;
	width: 100%;
	@media (max-width: em(700)) or ((min-height: em(700))) {
		align-items: center;
	}
}
#reels2 {
	position: relative;

	display: flex;
	justify-content: center;

	width: 40vw;
	height: calc((3 / 4) * 100vw);
	max-height: 29vw;
	max-width: calc(2.2 * (90vh - 50px));

	background: radial-gradient(50% 50% at 50% 50%, #b70000 0%, #550000 100%);
	border: 1px solid #ffd600;
	border-radius: rem(19);

	@media (min-height: em(700)) {
		width: 53vw;
		max-height: 39vw;
	}
	@media (min-width: em(1200)) {
		width: 45vw;
		max-height: 33vw;
	}
}

.reel2 {
	position: relative;
	z-index: 3;
	overflow: hidden;
	width: 25%;
	height: 100%;
	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 5px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot2.inverted .reel {
	transform: scaleY(-1);
}

#slot2.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff5900;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff6f00;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #ddf12a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
